*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    display: flex;
   gap: 1.5rem;
   list-style: none;
   background-color: black;
    align-items: center;
    justify-content: center;
   height: 50px;
   
}

.navbar li a{
    color: white;
    text-decoration: none;
    
}